@import url('https://ikirka.github.io/kirka/themes/old/kirka.theme.css'); /* old kirka theme */
@import url('https://ikirka.github.io/kirka/snippets/advent-calendar.css'); /* advent calendar */
/* funnies */
.avatar{
    background: url('https://media.tenor.com/WQYrfTW2mokAAAAd/glock-in-my-rari.gif') !important;
    background-size: cover !important;
    background-position: unset !important;
}
.game-interface .chat:focus-within{
    align-items: center;
}
.game-interface .chat .info{
    display: none;
}
.game-interface .chat:focus-within:before{
    content: "";
      position: absolute;
      background: url('https://cdn.discordapp.com/attachments/1117089952161857537/1183500599749259354/istockphoto-594062910-612x612_1.png?ex=65888fd3&is=65761ad3&hm=9fcd6d3903c5f676a46b91f2edf3d3ad00c3d718890e0b4a0b9a2d5ba0eca7ac&') 100% / 100% no-repeat !important;
      background-size: cover;
    height: 40rem;
    width: 30rem;
    top: -285px;
    z-index: -1;
    animation: fadeInOut 4s ease-in-out forwards;
}
@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
.game-interface .chat:focus-within .messages{
    background: transparent !important;
    width: 24rem;
    
}
.game-interface .chat:focus-within .messages *{
    text-shadow: black 1px 0 10px;
}
div.confetti:before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: url('https://cdn.discordapp.com/attachments/1117089952161857537/1183291273206054942/tenor.gif') 100% / 100% no-repeat;
    box-shadow: 0 0 15px 15px var(--secondary-1) inset;
}
.quests-container .rewards{
    position: unset !important;
}
.quests-container .rewards canvas.confetti{
    height: 25%;
    visibility: hidden;
}
.game-interface .hp-progress{
    position: relative;
}
game-interface .hp-progress[style*="40%"],
.game-interface .hp-progress[style*="41%"],
.game-interface .hp-progress[style*="42%"],
.game-interface .hp-progress[style*="43%"],
.game-interface .hp-progress[style*="44%"],
.game-interface .hp-progress[style*="45%"],
.game-interface .hp-progress[style*="46%"],
.game-interface .hp-progress[style*="47%"],
.game-interface .hp-progress[style*="48%"],
.game-interface .hp-progress[style*="49%"],
.game-interface .hp-progress[style*="50%"]{
    background: #fc6136 !important;
}

.game-interface .hp-progress[style*="40%"]:before,
.game-interface .hp-progress[style*="41%"]:before,
.game-interface .hp-progress[style*="42%"]:before,
.game-interface .hp-progress[style*="43%"]:before,
.game-interface .hp-progress[style*="44%"]:before,
.game-interface .hp-progress[style*="45%"]:before,
.game-interface .hp-progress[style*="46%"]:before,
.game-interface .hp-progress[style*="47%"]:before,
.game-interface .hp-progress[style*="48%"]:before,
.game-interface .hp-progress[style*="49%"]:before,
.game-interface .hp-progress[style*="50%"]:before{
    content: "omg!! You're about to die.";
    display: grid;
    place-items: center;
    position: absolute;
    color: black;
    right: 50px;
    bottom: 0;
    font-size: 1rem;
    height: 100%;
}

.game-interface .hp-progress[style*="40%"]:after,
.game-interface .hp-progress[style*="41%"]:after,
.game-interface .hp-progress[style*="42%"]:after,
.game-interface .hp-progress[style*="43%"]:after,
.game-interface .hp-progress[style*="44%"]:after,
.game-interface .hp-progress[style*="45%"]:after,
.game-interface .hp-progress[style*="46%"]:after,
.game-interface .hp-progress[style*="47%"]:after,
.game-interface .hp-progress[style*="48%"]:after,
.game-interface .hp-progress[style*="49%"]:after,
.game-interface .hp-progress[style*="50%"]:after{
    content: "";
    position: absolute;
    width: 45px;
    height: 45px;
    background: url('https://cdn.discordapp.com/emojis/1095439076510928976.gif?size=128&quality=lossless') 100% / 100%;
    right: 0;
    bottom: 0;
}
.crosshair-cont ~ .hit{
    position: relative;
    background: url('https://cdn.discordapp.com/attachments/1117089952161857537/1183504994742308924/5bbc1e83a839b-d387fe42c0a15de7844255c20f7602f8.png?ex=658893eb&is=65761eeb&hm=f44eb9d8c2c21a41b0bc1670581afcf79eee3d035c8d9c5c6bb588e2f927e2b3&') 100% / 100% no-repeat !important;
    padding: 2rem;
    opacity: .5;
}
.game-interface .mini-map-cont{
    width: 15rem;
    left: 0 !important;
    height: 15rem;
    top: 0 !important;
}
.game-interface .mini-map-cont .name{
    width: max-content;
    left: 8px !important;
    bottom: -50px !important;
    top: unset;
    font-size: 1.5rem;
}
.game-interface .mini-map-cont .name:before{
    content: "Battle of Yorktown on";
    margin-right: .25rem;
}
.game-interface .mini-map-cont:before{
    content: "";
    position: absolute;
    background: url('https://cdn.discordapp.com/attachments/1117089952161857537/1183517813890109480/rb_mntvernon_siegeyorktown_final-web.png?ex=65889fdb&is=65762adb&hm=2ca79cdb5f305a3a85b6a648109a06ebaa84b1b0a69cf4091886bf8a3092be94&') 100% / 100%;
    height: 100%;
    width: 100%;
    left: 0;
    border: 8px solid var(--secondary-1);
    opacity: .5;
}
#app .end-modal{
    background: url('https://upload.wikimedia.org/wikipedia/commons/b/b8/Surrender_of_Lord_Cornwallis.jpg') 100%/ 100% !important;
}
#app .end-modal .head .nickname{
    font-size: 0;
}
#app .end-modal .head .clan-tag{
    font-size: 0;
}
#app .end-modal .head .lvl-leader{
    font-size: 0;
}
#app .end-modal .head:nth-child(1) .clan-tag:before{
    content: "America";
    font-size: 1rem;
}
#app .end-modal .head:nth-child(1) .nickname:before{
    content: "George Washington";
    font-size: 1.25rem;
}
#app .end-modal .head:nth-child(1) .lvl-leader:before{
    content: "49";
    font-size: 1.875rem;
}
#app .end-modal .head:nth-child(2) .clan-tag:before{
    content: "Britsh";
    font-size: 1rem;
}
#app .end-modal .head:nth-child(2) .nickname:before{
    content: "Charles Cornwallis";
    font-size: 1.25rem;
}
#app .end-modal .head:nth-child(2) .lvl-leader:before{
    content: "42";
    font-size: 1.875rem;
}
#app .end-modal .head:nth-child(3) .clan-tag:before{
    content: "French";
    font-size: 1rem;
}
#app .end-modal .head:nth-child(3) .nickname:before{
    content: "Marquis de Lafayette";
    font-size: 1.25rem;
}
#app .end-modal .head:nth-child(3) .lvl-leader:before{
    content: "24";
    font-size: 1.875rem;
}
.loading-scene:before {
  content: "";
  position: absolute;
  width: 360px;
  height: 202px;
  background: url('https://i.imgflip.com/7ysb0k.gif');
z-index: 999;
bottom: 0;
}
